
/* media query for mobile */


 @media screen and (max-width: 375px) { 
   
.bright-img {
    width: 375px;
    object-fit: cover;
}

.article-future {
    width: 375px;
    background-color: hsl(36, 100%, 99%);

 } 

 h2 {
    font-size: 15px;
 }

 .bright-text {
    font-size: 19px;
 }

 .btn {
    background-color: hsl(5, 85%, 63%);
    width: 200px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    letter-spacing: 0.5em;
    border-color: 0px solid transparent;
 }

}